---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="About Me">
    <p>
      음악과 기타 연주를 좋아합니다. 
    </p>
  </Page>
</Base>
